<h3 class="form-title">Edit World</h3>
<div class="form-container">
  <%= form_with model: @world, local: true, url: world_path(@world), method: :patch do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>

    <div class="actions">
      <%= form.submit "Update" %>
    </div>
  <% end %>
</div>
