<div class="world-show-container">
  <%= render "shared/sidenav" %>

  <div class="world-main">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= url_for(@world.photo) %>')";>
      <div class="container">
        <h1><strong><%= @world.name %></strong></h1>
        <%= link_to "Edit Photo", edit_world_path(@world), class: "edit-photo-btn" %>
      </div>
    </div>

    <div class="description-container">
      <div class="book-pen-name">
        <p><%= @world.description %></p>
        <%= link_to "Edit Description", edit_world_path(@world), class: "edit-description-btn" %>
      </div>
    </div>

    <div>
      <h3 class="title mt-3">Series in the World of <%= @world.name %></h3>
      <div class="worlds-series-container">
        <% @series.each do |series| %>
          <div class="series-card" onclick="window.location='<%= series_path(series) %>'">
            <div class="series-name"><%= series.name %></div>
            <div class="series-slider"><% series.books.each_with_index do |book, index| %>
              <% break if index > 2 %>
                <div class="series-thumbnail" style="background-image: url('<%= url_for(book.cover) %>');"></div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="series-card add-series" onclick="window.location='<%= new_user_series_path(current_user) %>'">
          <span class="plus-sign">+</span>
        </div>
      </div>
    </div>

    <div>
      <h3 class="title mt-3">Stand-Alone Books in the World of <%= @world.name %></h3>
      <div class="worlds-series-container">
        <% @books.each do |book| %>
          <div class="book-card" onclick="window.location='<%= book_path(book) %>'">
            <div class="book-thumbnail" style="background-image: url('<%= url_for(book.cover) %>');"></div>
            <div class="book-name"><%= book.title %></div>
            <div class="short-description"><%= book.description %></div>
          </div>
        <% end %>
        <div class="book-card add-book" onclick="window.location='<%= new_user_book_path(current_user) %>'">
          <span class="plus-sign">+</span>
        </div>
      </div>
    </div>
  </div>
</div>
