<div class="sidebar" data-controller="backbutton">
    <%= link_to 'Back', 'javascript:void(0);', class: 'nav-item back-link', data: { backbutton_target:
          "button", controller: 'back-button', action: 'click->backbutton#goBack' } %>
    <%= link_to "Maps", world_maps_path(@world), class: "nav-item#{' active' if current_page?(world_maps_path(@world))}" %>
    <%= link_to "Races", world_races_path(@world), class: "nav-item#{' active' if current_page?(world_races_path(@world))}" %>
    <%= link_to "Nations", world_nations_path(@world), class: "nav-item#{' active' if current_page?(world_nations_path(@world))}" %>
    <%= link_to "Religions", world_religions_path(@world), class: "nav-item#{' active' if current_page?(world_religions_path(@world))}" %>
    <%= link_to "Traditions", world_traditions_path(@world), class: "nav-item#{' active' if current_page?(world_traditions_path(@world))}" %>
    <%= link_to "Magic Systems", world_magic_systems_path(@world), class: "nav-item#{' active' if current_page?(world_magic_systems_path(@world))}" %>
    <%= link_to "Locations", world_locations_path(@world), class: "nav-item#{' active' if current_page?(world_locations_path(@world))}" %>
    <%= link_to "Languages", world_languages_path(@world), class: "nav-item#{' active' if current_page?(world_languages_path(@world))}" %>
    <%= link_to "Characters", world_characters_path(@world), class: "nav-item#{' active' if current_page?(world_characters_path(@world))}" %>
    <%= link_to "Timelines", world_historical_timelines_path(@world), class: "nav-item#{' active' if current_page?(world_historical_timelines_path(@world))}" %>
</div>
