<div class="world-show-container">
  <%= render "shared/sidenav" %>

  <div class="book-show-container">
    <div class="book-main">
      <div class="book-show-content">
        <div class="book-cover-container">

          <div class="book-cover">
            <img src="<%= url_for(@book.cover) %>" alt="Book Cover" class="cover-image">
            <%= link_to "Edit Photo", edit_book_path(@book), class: "edit-photo-btn" %>
          </div>
        </div>
        <div class="book-info-container" data-controller="toggle-content">
          <h1><strong><%= @book.title %></strong></h1>
          <div class="book-info-cards">
            <div class="book-world book-tiny-card" onclick="window.location='<%= world_path(@book.world) %>'">
              <div class="books-world-thumbnail" style="background-image: url('<%= url_for(@book.world.photo) %>');"></div>
              <p>World: <%= @book.world.name %></p>
            </div>
            <% if @book.series.present? %>
              <div class="book-series book-tiny-card" onclick="window.location='<%= series_path(@book.series) %>'">
                <div class="series-slider"><% @book.series.books.each_with_index do |book, index| %>
                  <% break if index > 2 %>
                  <div class="tiny-series-thumbnail" style="background-image: url('<%= url_for(book.cover) %>');"></div>
                <% end %>
                </div>
                <p>Series: <%= @book.series.name %></p>
              </div>
              <% else %>
                <div class="book-series book-tiny-card">
                  <h4>Stand-Alone Novel</h4>
                </div>
            <% end %>
            <div class="book-tiny-card">
              <h4>Pen Name: <%= @book.pen_name.name %></h4>
            </div>
          </div>

          <div class="book-pen-name">
            <div data-toggle-content-target="display" class="content-display">
              <%= sanitize @book.description %>
              <%= link_to "Edit Description", "#", class: "edit-description-btn", data: { action: "toggle-content#toggle" } %>
            </div>

            <% text_area_tag :content, @book.description, :class => "tinymce d-none", :rows => 10, :cols => 120 %>

            <div data-toggle-content-target="edit" class="content-edit d-none">
              <%= form_with(model: @book, url: book_path(@book), method: :patch, local: true, html: { class: "content-edit-form", data: { action: "submit->toggle-content#toggle" } }) do |f| %>
                <%= f.text_area :description, value: @book.description, rows: 10, :class => "description-editor tinymce", data: { controller: "tinymce", toggle_content_target: "showOnToggle" } %>
                <%= f.submit "Save", class: "btn btn-primary mt-3", data: { action: "click->toggle-content#submit" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
