<!DOCTYPE html>
<html>
  <head>
    <title>Storian</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/054kzvd88w3zpljqu2ihh4s9muyryq70v0hfpm5gup6dav0s/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  </head>

  <body>
    <%= render "shared/navbar" %>
      <% if !current_page?(root_path) %>
        <div class="main-container">
          <%= yield %>
          <div class="clearance"></div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    <%= render "shared/footer" unless current_page?(root_path) %>
  </body>
</html>
