<!DOCTYPE html>
<html>
  <head>
    <title>Storian</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% if !current_page?(root_path) %>
      <div class="main-container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render "shared/footer" unless current_page?(root_path) %>
  </body>
</html>
